.board {
  display: grid;
  grid-gap: 0;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.cell {
  background: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &.dark {
    background: #555555;
  }

  &.selected {
    background: #fce754;
  }

  &:before, &:after {
    display: block;
    position: absolute;
    z-index: 10;
  }

  &.hasKey:after {
    top: 0; 
    left: 0;
    content: "🔑";

    // Cheap little hack to get the Windows key emoji the same as other platforms!
    .isWindows & {
      transform: scaleX(-1);
    }
  }

  &.hasDecoded:before {
    bottom: 0; 
    right: 0;
    content: "🔎";
  }
}