html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  max-width: $page-width;
  line-height: 1.4;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100vh;
}

h1 {
  text-align: center;
  max-width: 90vw;
  font-size: 1.5rem;
}
